{% extends "layout.html" %}


{% block content %}
<div class="entry-list single">
    <article>
        <h1>{{ entry.title }}</h1>
        <time datetime="{{ entry.date.strftime('%Y-%m-%d') }}">{{ entry.date.strftime('%Y-%m-%d') }}</time>
        <div class="entry">
            <h3>Time Spent: </h3>
            <p>{{ entry.time_spent }} Hour(s)</p>
        </div>
        <div class="entry">
            <h3>What I Learned:</h3>
            <p>{{ entry.what_i_learned }}</p>
        </div>
        <div class="entry">
            <h3>Resources to Remember:</h3>
            <p>{{ entry.to_remember }}</p>
        </div>
    </article>
</div>
<div class="edit">
    <a class="button" href="{{ url_for('edit', id=entry.id) }}">Edit Entry</a>
    <a class="button" href="{{ url_for('delete', id=entry.id) }}">Delete Entry</a>
</div>
    
{% endblock %}

