{% extends "layout.html" %}


{% block content %}
<div class="entry-list">
    {% for entry in entries %}
        <article>
            <h2>
                <a href="{{ url_for('detail', id=entry.id ) }}">{{ entry.title }}</a>
            </h2>    
                <time datetime="{{ entry.date.strftime('%Y-%m-%d %H:%M:%S') }}">
                    {{ entry.date.strftime('%Y-%m-%d %H:%M:%S') }}
                </time>
            
        </article>
    {% endfor %}
</div>
{% endblock %}            
